body {
    justify-items: center;
    
    
}

header {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

table {
    color: aqua;
    padding-inline: 15rem;
    ;
}
th, td, tr {
    border-bottom: 1px solid blueviolet;
    
}