@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --branco-fraco: #F4FFFD;
    --azul: #084887;
    --laranja: #F58A07;
}

body {
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--branco-fraco);

    
}

h1, p, input, label {
    color: var(--azul);
    justify-content: center;

}

input {
    background-color: var(--branco-fraco);
    border-color: var(--laranja);
    color: var(--azul);
    font-family: "DM Sans", sans-serif;
 
}

button {
    background-color: var(--laranja);
    color: var(--branco-fraco);
    font-family: "DM Sans", sans-serif;
    border-color: var(--azul);
}

header {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    align-items: center;
}



table {
    color: var(--azul);
    padding-inline: 15rem;
    
    width: 75%;
    border-color: var(--laranja);
    border-collapse: collapse;

}

td, th {
    text-align: center; 
    vertical-align: middle;
}